<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/mycss.css}" rel="stylesheet" type="text/css">
<!-- <link rel="stylesheet" href="../static/css/mycss.css" type="text/css"> -->
<title>タイトル</title>
</head>
<body>
    <h1>将棋</h1>
    <table class="tb">
        <tr>
            <td onclick="location.href='/shogi/newgame'">対局</td>
        </tr>
        <tr>
            <td onclick="location.href='/shogi/kif'">棋譜</td>
        </tr>
    </table>
    <table class="fixed-icon">
        <tr>
            <td onclick="location.href='/shogi/mypage'">
                <img th:src="@{/image/icon.png}" alt="icon">
            </td>
        </tr>
    </table>


</body>
</html>